Repository sed-i/lma-tester, changes with the labels that .github/labeler.yml gives for each.
All labels: root, tests, charm, lib

ci fixes
  .github/workflows/publish.yaml
  .github/workflows/run_tests.yaml
  lma-tester-image/Dockerfile
  lma-tester-image/prometheus.py
  run_tests
  src/charm.py
Labels: root, charm

rename image
  .github/workflows/publish.yaml
Labels: none

ci fixes
  .github/workflows/publish.yaml
  pyproject.toml
Labels: root

doc fix
  README.md
  metadata.yaml
  requirements-dev.txt
  requirements.txt
Labels: root

spelling
  metadata.yaml
  tox.ini
Labels: root

.github/labeler.yml:

# Ref: https://github.com/actions/labeler

# Add 'root' label to any root file changes
root:
- '*'

# Add 'tests' label to any change to files within the tests dir
tests:
- tests/**/*

# Add 'charm' label to any change to files within the src dir
charm:
- src/**/*

# Add 'lib' label to any change to files within the lib dir
lib:
- lib/**/*
